# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./example-app

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Poetry setup
      # You may pin to the exact commit or the version.
      # uses: ClementWalter/poetry-action@845abd0cfcc6671c045a2f9df189360bb73e64c4
      uses: ClementWalter/poetry-action@v1
      with:
        os: ubuntu-latest
        python-version: "3.10"
    - name: Install dependencies
      run: |
        poetry install
    - name: Unit tests
      run:  |
        poetry run task test
    - name: Lint tests
      run: |
        poetry run task lint
    - name: Formatter tests
      run: |
        poetry run task formatter
    - name: Security tests
      run: |
        poetry run task security

  run:
  
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./example-app

    steps:
      - name: Run the application
        run: |
          poetry run task local
